@{
    ViewBag.Title = "";
}
    
<div class="contract">
    <h1>Contact</h1>
    <hr style="border:3px double #F00" width="90%" size="3" />
    <div>
        <h4>
            Adress: Jagtvej 45, 6705 Esbjerg
        </h4>
        <h4>T: 86 16 81 68</h4>

    </div>
    <div class=" " >
        <h2>Location</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1901.3361523686945!2d8.478079592253799!3d55.478660215359305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464b2138f1ab9fa9%3A0x2d8235f1db3b6257!2sJagtvej+45%2C+6705+Esbjerg+%C3%98!5e0!3m2!1szh-CN!2sdk!4v1448372971081" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


    </div>
</div>